@import url('https://fonts.googleapis.com/css?family=Exo+2');


.App {
    font-family: 'Exo 2', sans-serif;
}



h1 {
    color: #FFFFFF;
}

h2 {
    color: #FE7414;
}

p {
    color: #FF0001;
}

.jumbo {
    opacity: .95;
    background-color: whitesmoke;
    height: 100%;
    width: 100%;
}

.footer {
    background-color: black;
    bottom: 0px;
    position: fixed;
    width: 100%;
}

.page {
    background-image: url("./juan-encalada-1205971-unsplash.jpg");
    background-size: cover;
    height: 100%;

}


.navbar,.navbar-brand,a,.dropdown,.dropdownmenu,.dropdown-item {
    background-color: black;
    color: white;
    font-family: 'Exo 2', sans-serif;
}

td,th,p {
    color: black;
}

.repoCard {
    display: inline-block;
    border: solid black 1px;
    height: 320px;
    width: 240px;
    overflow: hidden;
    text-align: center;
    background-color:  white;
    margin: 10px;
}

 .cardTitle {
    
    color: #FE7414;
    width: 100%;
    background-color: white;
}
.repos {
    width: 240px;
    height: 240px;
}

.gitLink {
    width: 100%;
    text-align: center;
    color: #FE7414;
    background-color: white;
    bottom: 0px;
}
